{
    "discord": {
        "name": "steakbot",
        "avatar": "https://i.imgur.com/i47ZVNr.png",
        "webhooks": {
            "name": "",
            "url": ""
        }
    },
    "ocrEngine": {
        "args": {
            "model_name": "PP-OCRv5_server_rec",
            "model_dir": "./paddle_custom",
            "cpu_threads": 1
        }
    },
    "shouldSendWrapup": true,
    "timers": [
        [
            6000,
            false,
            1749955286
        ],
        [
            6000,
            false,
            1749955286
        ],
        [
            6000,
            false,
            1749955286
        ],
        [
            6000,
            false,
            1749955286
        ],
        [
            6000,
            false,
            1749955286
        ],
        [
            6000,
            false,
            1749955286
        ]
    ]
}